* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

p {
  margin-bottom: 1rem;
}

img {
  max-width: 100%;
}

body {
  padding: 20px;
  width: 900px;
  margin: 0 auto;
  max-width: 100%;
}

.site-nav {
  margin: 20px 0;
  background-color: #68952A;
  padding: 10px 0;
}

.site-nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-around;
}

.site-nav li {
  margin: 0 10px;
}

.site-nav a {
  color: white;
}

.image {
  margin-bottom: 20px;
}

@media screen and (min-width: 800px) {
  .container {
    display: flex;
  }

  .image {
    width: 50%;
    padding-right: 20px;
  }

  .description {
    width: 50%;
  }
}
