body {
  font-family: sans-serif;
  background-color: #EEE;
}

.image {
  border: 1px solid gray;
}

.highlighted {
  border: 3px solid yellow;
}

.favorite {
  font-weight: bold;
  color: purple;
}

.hidden {
  display: none;
}
